@font-face {
    font-family: MontaukRegular;
    src: url(../assets/fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: MontaukBold;
    src: url(../assets/fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: FugazRegular;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}

body{
    background-image: url(../assets/bgtexture.jpg);
}

.navbarFont {
    font-family: FugazRegular;
    font-size: 16px;
    color:#5F002B;
}
.homeImage {
    background-image: url(../assets/homeHero.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.ATeamHeading {
    background-color: white;
    display: flex;
    justify-content: center;
    font-family: FugazRegular;
    font-size: 16px;
    color:#5F002B;
}

.AcardText {
    font-family: MontaukRegular;
    font-size: 16px;
    color: #5F002B;
}

.AcardHeading {
    font-family: FugazRegular;
    font-size: 24px;
    color: #5F002B;
}

.cateringHeroImage {
    background-image: url(../assets/cateringHero.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.sideImage {
    max-width: 90%;
}

.sideText {
    font-family: MontaukRegular;
    font-size: 1vw;
    color: #5F002B
}

.picOne {
    background-image: url(../assets/cateringMaine.jpg);
    height: 20rem;
    background-position: center;
    background-size: cover;
}

.Afit {
    height: 100%;
    width: 100%;
}