@font-face {
    font-family: MontaukRegular;
    src: url(../assets/fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: MontaukBold;
    src: url(../assets/fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: FugazRegular;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}

body{
    background-image: url(../assets/bgtexture.jpg);
}
.homeImage {
    background-image: url(../assets/homeHero.jpg);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.ATeamHeading {
    background-color: white;
    display: flex;
    justify-content: center;
}

.AcardText {
    font-family: MontaukRegular;
    font-size: 16px;
    color: #5F002B;
}

.AcardHeading {
    font-family: FugazRegular;
    font-size: 24px;
    color: #5F002B;
}